
.project-container {
}

.name-and-button-container{
  display: flex;
  flex-direction: row;
}

.projects-header{
  width: fit-content;
  color: red;
}

.project-btn{
  background: none;
  border: none;
}

iframe{
  width: 100%;
  height: 80vh;
}